<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
              "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Nick Wydra</title>
    <meta name="description" content="Nick Wydra's Portfolio">

    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    {% block content %}{% endblock %}
    <script src="static/js/script.js"></script>
</body>
</html>